@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::placeholder {
  @apply text-lg;
}

::-webkit-input-placeholder {
  @apply text-sm;
}

::-moz-placeholder {
  @apply text-xs;
}

:-ms-input-placeholder {
  @apply text-xs;
}

:-moz-placeholder {
  @apply text-xs;
}
